{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block static_class %}entries-bg{% endblock static_class %}

{% block header %}
    <a href="{% url 'topic' topic.id %}" style='color:black'>{{ topic }}</a>
{% endblock header %}

{% block content %}

    <div class='alert alert-info' role='alert'>
        <h4>Editar Anotação:</h4>
    </div>

    <form action="{% url 'edit_entry' entry.id %}" method='post' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class='form-group'>
            <button type='submit' class='btn btn-success'>Salvar</button>
            <a href="{% url 'topic' topic.id %}" class='btn btn-default'>Voltar</a> 
        </div>
    </form>

{% endblock content %}