{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block static_class %}topics-bg{% endblock static_class %}

{% block header %}
   <a href={% url 'topics' %}> {{ topic }}</a>
{% endblock header %}

{% block content %}

    <div class='alert alert-info' role='alert'>
        <h4>Editar tópico:</h4>
    </div>

    <form action="{% url 'edit_topic' topic.id %}" method='post' class='form'>
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class='form-group'>
            <button type='submit' class='btn btn-success'>Salvar</button>
            <a href={% url 'topics' %} class='btn btn-default'>Voltar</a> 
        </div>
    </form>

{% endblock content %}