{% extends "learning_logs/base.html" %}

{% block static_class %}index-bg{% endblock static_class %}

{% block header %}
    <div class="jumbotron">
        <h1>Acompanhe seu aprendizado</h1>
    </div>
{% endblock header %}

{% block content %}

    {% if user.is_authenticated %}
    
        <div class='custom-box'>
            Sempre que você aprender algo novo sobre um tópico,
            faça uma entrada resumindo o que você aprendeu.
        </div>

    {% else %}

        <div class='custom-box'>
            <a href="{% url 'register' %}" style='color: red'>Crie uma conta</a>
            para utilizar o Learning Log e liste os tópicos
            que você está aprendendo 
        </div>

        <div class="custom-box">
            Sempre que você aprender algo novo sobre um tópico,
            faça uma entrada resumindo o que você aprendeu.
        </div>        
        
    {% endif %}    
    
{% endblock content %}