{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
       <h3>Adicione um novo tópico:</h3>
{% endblock header %}

{% block content %}

    <form action="{% url 'new_topic' %}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name='submit' class='btn btn-primary'>Adicionar</button>
        {% endbuttons %}
    </form>

    <form action="{% url 'topics' %}" method='POST'>
        {% csrf_token %}

        {% buttons %}
            <button name='submit' class='btn btn-secondary'>Voltar</button>
        {% endbuttons %}
    </form>

  
{% endblock content %}