{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block static_class %}topics-bg{% endblock static_class %}

{% block header %}
    Tópicos
{% endblock header %}

{% block content %}

        <div class='form-group'>
            <a href="{% url 'new_topic' %}" class='btn btn-success'>Adicionar</a>
            <a href="{% url 'index' %}" class='btn btn-default'>Voltar</a>
        </div>

        {% for topic in topics %}
            <div class='panel panel-default'>
                <div class="panel-heading">
                    <h4>
                        <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
                        <span class="pull-right">
                            <form action="{% url 'edit_topic' topic.id %}" method='GET' style='display:inline;'>
                                <button type='submit' class='btn btn-primary'>Editar</button> 
                            </form>
                            
                            <form action="{% url 'remove_topic' topic.id %}" method='POST' style='display:inline;'>
                                {% csrf_token %}
                                <button type='submit' onclick='return confirmDelete();' class='btn btn-danger'>Remover</button>  
                            </form>
                        </span>
                    </h4>
                </div>   
            </div>

        {% empty %}
            <h4>
                <p class='alert alert-warning'>Não há tópicos adicionados!</p>
            </h4>
        {% endfor %}   
        
        <script>
            
            function confirmDelete()
            {
                return confirm("Tem certeza que deseja excluir este tópico?");
            }
            
        </script>

{% endblock content %}