{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block static_class %}entries-bg{% endblock static_class %}

{% block header %}
    <a href={% url 'topics' %} style='color:black'>{{ topic }}</a>
{% endblock header %}

{% block content %}

    <div class='form-group'>
        <a href="{% url 'new_entry' topic.id %}" class='btn btn-success'>Adicionar</a>
        <a href="{% url 'topics' %}" class='btn btn-default'>Voltar</a>
    </div>

        {% for entry in entries %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class='row'>
                        <div class='col-xs-8'>
                            <h4>{{ entry.date_added | date:'M d, Y H:i'}}</h4>
                        </div>

                        <div class='col-xs-4 text-right'>
                            <form action="{% url 'edit_entry' entry.id %}" method='GET' style='display:inline;'>
                                <button type='submit' class='btn btn-primary'>Editar</button>
                            </form>
                            <form action="{% url 'remove_entry' entry.id %}" method='POST' style='display:inline;'>
                                {% csrf_token %}
                                <button onclick="return confirmDelete({{ topic.id }})" class='btn btn-danger'>Remover</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class='panel-body'>
                    {{ entry.text | linebreaks }}
                </div>
                
            </div>
            
        {% empty %}
            <h4>
                <p class='alert alert-warning'>Não há registros!</p>
            </h4>
          
        {% endfor %}
    <script>
        function confirmDelete(topicId)
        {
            return confirm("Tem certeza de que deseja excluir esta anotação?")
        }
    </script>

{% endblock content %}    